# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore logs and large temp files
*.log
*.txt

# Ignore output images or movies
*.png
*.jpg
*.npz
*.npy

# Ignore system files
.DS_Store

# Ignore hidden system folders
.idea/
.vscode/

